<div class="container my-5">
    <div class="jumbotron">

        <h1>Login de Usuario</h1>
        <br>
        <form class="form" action="" method="post" roles="form" autocomplete="off">

            <div class="form-group">
                <label for="nombre">Ingrese su nombre</label>
                <input id="nombre" name="nombre" placeholder="form-control" type="text" required>
            </div>

        </form>

        <hr>
        <div class="text-left">
            <button class="btn btn-success my-3" onclick="location.href = '/'">Enviar</button>
        </div>
    </div>
</div>