<div class="container my-5">
    <div class="jumbotron bg-light d-flex justify-content-center flex-column align-items-center rounded">
        <h1>Registro de Usuario</h1>
        <br>
        <form class="form" action="/register" method="post" roles="form" autocomplete="off">
            <div class="form-group">
                <label for="username"><b>Ingrese su nombre</b></label>
                <input id="username" name="username" placeholder="Daniel" type="text" required>
                <input id="email" name="email" placeholder="user@email.com" type="email" required>
                <input id="password" name="username" placeholder="mypassword" type="password" required>
            </div>
            <div class="text-left">
                <button type="submit" class="btn btn-success my-3 tertiary" onclick="location.href = '/'">Enviar</button>
            </div>
            <div class="text-left">
                <button class="btn btn-success my-3 tertiary" onclick="location.href = '/login'">Ir al Login</button>
            </div>
        </form>
    </div>
</div>